name: Compile binaries for Macos, Linux and Windows

on:
  workflow_dispatch:

jobs:
  compile-binaries:
    strategy:
      matrix:
        os: [
          ubuntu-latest,
          macos-latest,
          windows-latest
        ]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Zig
        uses: ./.github/actions/setup-zig
        with:
          version: 0.14.1
      

      # Macos
      - name: Build macOS
        if: runner.os == 'macOS'
        run: |
          zig build -Doptimize=ReleaseSmall -p ./zig-out/x86 -Dtarget=x86_64-macos
          zig build -Doptimize=ReleaseSmall -p ./zig-out/arm64 -Dtarget=aarch64-macos
          tar -czvf ./multask-macos_x86_64.tar.gz -C ./zig-out/x86/bin mlt
          tar -czvf ./multask-macos_arm64.tar.gz -C ./zig-out/arm64/bin mlt

      - uses: actions/upload-artifact@v4
        if: runner.os == 'macOS'
        with:
          retention_days: 1
          name: multask-macos
          path: |
            ./multask-macos_x86_64.tar.gz
            ./multask-macos_arm64.tar.gz

      # Linux
      - name: Build Linux
        if: runner.os == 'Linux'
        run: |
          zig build -Doptimize=ReleaseSmall -p ./zig-out/x86 -Dtarget=x86_64-linux-gnu
          zig build -Doptimize=ReleaseSmall -p ./zig-out/arm64 -Dtarget=aarch64-linux-gnu
          tar -czvf ./multask-linux_x86_64.tar.gz -C ./zig-out/x86/bin mlt
          tar -czvf ./multask-linux_arm64.tar.gz -C ./zig-out/arm64/bin mlt

      - uses: actions/upload-artifact@v4
        if: runner.os == 'Linux'
        with:
          retention_days: 1
          name: multask-linux
          path: |
            ./multask-linux_x86_64.tar.gz
            ./multask-linux_arm64.tar.gz

      # Windows
      - uses: KamaranL/add-signtool-action@v1
        if: runner.os == 'Windows'
        id: signtool

      - name: Restore Windows cert
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          $bytes = [Convert]::FromBase64String("${{ secrets.WINDOWS_CERT }}")
          [IO.File]::WriteAllBytes("cert_file.pfx", $bytes)

      - name: Build Windows
        if: runner.os == 'Windows'
        shell: pwsh
        env:
          CERT_PASS: ${{ secrets.WINDOWS_CERT_PASSWORD }}
        run: |
          where signtool
          zig build -Doptimize=ReleaseSmall -p ./zig-out/x86 -Dtarget=x86_64-windows
          signtool.exe sign /f cert_file.pfx /p "$env:CERT_PASS" /tr http://timestamp.digicert.com /td sha256 /fd sha256 zig-out\bin\mlt.exe
          signtool.exe sign /f cert_file.pfx /p "$env:CERT_PASS" /tr http://timestamp.digicert.com /td sha256 /fd sha256 zig-out\bin\spawn.exe
          signtool.exe sign /f cert_file.pfx /p "$env:CERT_PASS" /tr http://timestamp.digicert.com /td sha256 /fd sha256 zig-out\bin\mlt_bg.exe
          Compress-Archive -Path .\zig-out\bin\mlt.exe .\zig-out\bin\spawn.exe .\zig-out\bin\mlt_bg.exe -DestinationPath .\multask-windows_x86_64.zip
          Remove-Item cert_file.pfx

      - uses: actions/upload-artifact@v4
        if: runner.os == 'Windows'
        with:
          retention_days: 1
          name: multask-windows
          path: |
            ./multask-windows_x86_64.zip
